- title_and_header = 'Privacy Notice'
- content_for(:title, title_and_header)

= back_link(root_path, 'Return to the homepage')

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl= title_and_header
      %p
        The Drive in a Clean Air Zone (CAZ) service is operated by the Joint Air Quality Unit (JAQU),
        a team established jointly between the Department for Environment, Food and Rural Affairs (Defra)
        and the Department for Transport (DfT).
      %p
        The purpose of the service is to enable you to find out if UK registered vehicles
        will be charged to drive in a CAZ and, if so, pay the daily charge if your vehicle
        does not meet emission standards. The service has three components:
      %ul.govuk-list-list--bullet
        %li
          %p
            Check a single vehicle
        %li
          %p
            Pay a charge for a single vehicle
        %li
          %p
            Check and pay for multiple vehicles (for businesses)

      %h1.govuk-heading-xl
        Check a single vehicle
      %p
        The purpose of the Check a single vehicle service is to enable you to find out
        if your vehicle will be charged to drive in a CAZ and, if so, how much.
      %p
        To use the service, you need to enter a number plate (registration number).
        JAQU treats a number plate as personal data because the Driver & Vehicle Licensing Agency (DVLA) an executive agency of DfT, can identify vehicle information and the registered keeper from the number plate.
        However, the number plate you enter will only be retained for 24 hours after your enquiry has been answered and will not be accessible in any way by JAQU, DfT and Defra, or shared with any other organisation.
      %p
        If the service is unable to determine the compliance of your vehicle (you will receive an ‘Unable to determine compliance‘ error), then the service will retain your number plate for up to 30 days.
        This allows the Support Team to diagnose what has gone wrong and to help improve the service.
      %p
        Additional vehicle data has been requested and supplied by motor manufacturers for vehicles that could be determined as an ’early adopter’ of a compliant Euro Emission standard.
        This will support the service to determine a vehicle’s compliance correctly.

      %h1.govuk-heading-xl
        Pay a charge for a single vehicle
      %p
        The purpose of the Pay a charge for a single vehicle service is to enable you to pay a daily charge if you have driven or plan to drive in a CAZ, if your vehicle does not meet emission standards.
        You need to pay separately for each CAZ you drive through.
        If your vehicle is registered outside the UK, you need to tell us what vehicle type it is so we can determine a charge so you can pay.
      %p
        To use the service, you need to enter a number plate (registration number).
        JAQU treats a number plate as personal data because the DVLA can identify vehicle information and the registered keeper from the number plate.
        If the service is unable to determine the compliance of your vehicle (you will receive an ‘Unable to determine compliance’ error), then the service will retain your number plate for up to 30 days.
        This allows the Support Team to diagnose what has gone wrong and to help improve the service.
      %p
        You can pay using a credit or debit card.
        To make the payment, you will enter your card details and the payment data will be only processed by the service (using GOV.UK Pay acting on behalf of JAQU, who will store the payment transaction).
        An email address will be requested from the user to allow a payment transaction receipt to be sent by GOV.UK Notify.
        The local authority responsible for the CAZ you use will be sent a confirmation of the payment including the vehicle number plate that has been paid for.
        The email data is retained on the GOV.UK Notify platform for 7 days and then deleted.
      %p
        We retain your payment transactions for 7 years in our system.
        These include a record of the number plate against which the payment is made.
      %p
        The service has no control over how the local authority uses the information exchanged in the above scenarios and the data retention policies they apply.

      %h1.govuk-heading-xl
        Check and pay for multiple vehicles
      %p
        The purpose of the Check and pay for multiple vehicles service is to allow businesses that own or manage 2 or more vehicles to check and pay charges for multiple UK registered vehicles;
        they will only pay for the vehicles that do not meet the emission standards. Vehicles registered outside the UK cannot be added to an account;
        you must pay charges using the Pay a single vehicle service.
      %p
        To use the service, you need to be a business and create an account stating your company name, email address and a password created and supplied by the user.
        The service will verify the email address to send a secure link via GOV.UK Notify to complete the account set up.
        The account information will be retained by us as long as the account remains active.
        If you do not use our service for 180 days, your account will become inactive.
        In this scenario, we will retain your account information for 7 years after the account becomes inactive.
      %p
        You will need to enter or upload a number plate(s) (registration number) for your vehicle(s).
        JAQU treats a number plate as personal data because the DVLA can identify vehicle information and the registered keeper from the number plate.
        The active number plate(s) will be retained in our database if your account remains active. We maintain a history of your vehicle number plate(s) when you replace your vehicle(s) through a spreadsheet upload.
        We retain the history of your vehicle(s) for 12 months, after which these will be deleted.
      %p
        If the service is unable to determine the compliance for one or more of your vehicles, then the service will retain your number plate for up to 30 days.
        This allows us to diagnose what has gone wrong and to help improve the service.
      %p
        Users will need to pay separately for each CAZ they drive in.
        You can pay using a credit/debit card or bank details.
        When you enter your credit/debit card or bank details to make a payment, your payment data will be processed by the service (using GOV.UK Pay and Go Cardless acting on behalf of JAQU, who will store the payment transaction).
        An email address will be requested from the user to allow a payment transaction receipt to be sent by GOV.UK Notify.
        The local authority responsible for the CAZ you use will be sent a confirmation of the payment, including the vehicle number plate that has been paid for.
        The email data is retained on the GOV.UK Notify platform for 7 days and then deleted.
      %p
        The payment information in the service is matched with the ANPR feed from local authorities to exchange payment status.
      %p
        We retain your payment transactions for 7 years in the service. These include the number plate(s) against which the payment is made.

      %h2.govuk-heading-l
        General
      %p
        IP addresses will be captured when using this service; JAQU (and our data processor partners that work on our behalf) cannot identify individuals from the IP address.
        We use IP addresses to investigate and address security issues that may arise and diagnose and analyse internet traffic via this service.
        We will only retain IP addresses for 30 days.
      %p
        You can raise any queries about the information provided by the service by using the
        = succeed '.' do
          = link_to('web form', 'https://contact.dvla.gov.uk/caz/' )
      %p
        Along with your query, you will need to give your name and email address, which will be used to respond to you. The information you provide will be sent by GOV.UK Notify to JAQU (or their agents acting on their behalf) for the sole purpose of replying to you. Your personal information will be deleted after a year.
      %p
        The processing of personal data in the service is necessary for the performance of a task carried out in the exercise of official authority vested in both DfT and Defra, as partners in JAQU.
      %p
        If you have any questions about how your personal data is processed by the service, or are interested in exercising any of your rights in relation to that processing, contact:
      %p
        Data Protection Manager for JAQU
        %br
        Defra
        %br
        Information Rights Team
        %br
        Area 1E
        %br
        Nobel House
        %br
        17 Smith Square
        %br
        London
        %br
        SW1P 3JR

      %p
        Email:
        = mail_to 'data.protection@defra.gov.uk'
      %p
        A list of your rights under the
        - link = 'https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/'
        = link_to('General Data Protection Regulation and the Data Protection Act 2018',
                  link,
                  id: 'general-data-link')
      %p
        Defra’s and DfT’s Personal Information Charters are available at:
      %p
        - defra_link = 'https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter'
        = link_to('Defra', defra_link, id: 'defra-link')
      %p
        - dft_link = 'https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter'
        = link_to('DfT', dft_link, id: 'dtf-link')
      %p
        If you want to know about the privacy notice specific to DVLA or the CAZ and local authority you are using, use these links:
      %p
        - dvla_link = 'https://www.gov.uk/government/publications/dvla-privacy-policy/dvla-privacy-policy'
        = link_to('DVLA', dvla_link, id: 'dvla-link')
      %p
        - bath_policy_link = 'https://beta.bathnes.gov.uk/council-privacy-policy'
        = link_to('Bath and North East Somerset privacy policy', bath_policy_link, id: 'bath-policy-link')
      %p
        - birmingham_policy_link = 'https://www.birmingham.gov.uk/info/20015/environment/2005/privacy_statement_-_environmental_health/2'
        = link_to('Birmingham privacy policy', birmingham_policy_link, id: 'birmingham-policy-link')

      %h2.govuk-heading-l
        Early Notice Letters (ENLs)
      %p
        Clean Air Zone local authorities, Defra and DfT (as JAQU) are Joint Controllers, which means that they jointly use personal data to ensure that people, who are likely to be affected by the introduction of CAZs, receive a letter giving sufficient advance notice of the zones coming into place.
        These letters are called ‘Early Notice Letters’.
      %p
        The relevant CAZ local authority, JAQU and DVLA will receive and use your personal data for the purpose of sending the Early Notice Letter to you.
      %p
        Your personal data that will be processed are:
        %ul.govuk-list-govuk-list--bullet
          %li
            %p
              the number plate (also known as registration number) of your vehicle, for which you are the registered keeper, that travels in a local authority CAZ
          %li
            %p
              the tax class of your vehicle
          %li
            %p
              and, in some cases as explained below, your name and address
      %p
        If your vehicle travels in a CAZ, the local authority’s automatic number plate recognition (ANPR) cameras covering that Zone will record your number plate, which the local authority will pass to JAQU so that JAQU can determine whether your vehicle meets current emission standards.
        If your vehicle does not meet these emission standards, DVLA will use your name and address held in their records with your vehicle number plate to send you a letter, on behalf of the local authority, informing you that you will likely have to pay a charge if your vehicle travels in that area after CAZ charging starts.
      %p
        The legal basis for the processing (use) of your personal data is that the use of your personal data is necessary for the performance of a task carried out in the public interest.
      %p
        TThe task in the public interest is to inform people of new regulations and penalties prior to their coming into effect.
        This relates to monitoring and identifying contraventions of Part III and Schedule 12 of the Transport Act 2000 and Parts 2 and 6 of The Road User Charging Schemes (Penalty Charges, Adjudication and Enforcement) (England) Regulations 2013 pertaining to the Clean Air Zone Charging Order relevant to the local authority whose ANPR cameras recorded your number plate.
      %p
        JAQU and the DVLA will not keep your personal data for the purpose of sending the Early Notice Letter after that letter has been sent to you.
