- title_and_header = "Check if you’ll be charged to drive in a Clean Air Zone"
- content_for(:title, title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
      %p
        From early 2021 Birmingham and Bath will be introducing Clean Air Zones where polluting
        vehicles will have to pay a daily charge to drive in the zone.
      %p
        Use this service to check if a specific vehicle will be charged when it drives through a
        charging Clean Air Zone.
      %p
        You'll need to know the number plate (registration details) of the vehicle you want to check.
      %a.govuk-button.govuk-button--start{role: 'button',
                                          'data-draggable': false,
                                          'data-module': 'govuk-button',
                                          href: enter_details_vehicle_checkers_path,
                                          id: 'start-now-button'}
        Start now
        %svg.govuk-button__start-icon{focusable: 'false',
                                      height: '19',
                                      role: 'presentation',
                                      viewbox: '0 0 33 40',
                                      width: '17.5',
                                      xmlns: 'http://www.w3.org/2000/svg'}
          %path{d: 'M0 0h13l20 20-20 20H0l20-20z', fill: 'currentColor'}
      %h2.govuk-heading-m Differences in Clean Air Zones
      %p
        Each Clean Air Zone in England will have different guidelines about who will be charged.
      %p
        Find out more about the
        = succeed '.' do
          = link_to('different types of Clean Air Zone',
                    'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                    id: 'different-caz-types-link')

      %h2.govuk-heading-m Explore the topic
      %p
        = succeed '.' do
          = link_to('Clean Air Zones',
                    'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                    id: 'caz-link')

    .govuk-grid-column-one-third
      %aside#related-items-label.app-related-items{role: 'complementary'}
        %h2.govuk-heading-m
          Related content
        %nav{'aria-labelledby': 'related-items-label', role: 'navigation'}
          %ul.govuk-list{class: 'govuk-!-font-size-16'}
            %li
              = link_to('Contact Clean Air Zones',
                        Rails.configuration.x.contact_form_link,
                        id: 'contact-form')
