= link_to 'Back', caz_selection_air_zones_path, class: 'govuk-back-link'

%main#main-content.govuk-main-wrapper{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Clean Air Zone compliance
      %p= "Vehicle registration #{@vrn}."

      - @compliance_zones.each do |details|
        %h1.govuk-heading-l
          = details.zone_name

        - unless details.charged?
          .govuk-panel.govuk-panel--confirmation
            %h1.govuk-panel__title
              You will not be charged
          %br
          %p
            There is no charge for this vehicle to travel in the
            = link_to details.main_info_url, target: '_blank' do
              = details.zone_name
              CAZ
        - else
          .govuk-panel.govuk-panel--noncompliant
            %h1.govuk-panel__title
              Subject to charge:
              %br
              = details.charge
          %br
          %p
            This vehicle does not comply with the
            = succeed "." do
              = link_to details.emissions_standards_url, target: '_blank', class: 'caz_inline_link' do
                = details.zone_name
                CAZ emissions standards
            It is therefore subject to a charge when driving in the
            = link_to details.main_info_url, target: '_blank', class: 'caz_inline_link' do
              = details.zone_name
              Clean Air Zone
            = ' during its'
            = succeed "." do
              = link_to 'hours of operation', details.hours_of_operation_url, target: '_blank', class: 'caz_inline_link'

          %h2.govuk-heading-m
            Next steps
          %ul.govuk-list.govuk-list--bullet
            %li
              = link_to "Find out how much the #{details.zone_name} CAZ charge is", details.pricing_url, target: '_blank'
            %li
              = link_to 'Find out if you qualify for an exemption or discount', details.exemption_or_discount_url, target: '_blank'
            %li
              = link_to "Pay the #{details.zone_name} CAZ charge", details.pay_caz_url, target: '_blank'
          %p
            If you wish to avoid the charge in the future, you can change your vehicle to
            = succeed "," do
              = link_to 'become compliant', details.become_compliant_url, target: '_blank'
            and you may qualify for
            = link_to 'financial assistance', details.financial_assistance_url, target: '_blank'
            to help you do so.

      %p#print-page-link{style: 'display: none;'}
        = link_to "Print this page", 'javascript:window.print()'

    .govuk-grid-column-one-third
      %h2.govuk-heading-m
        Related tasks
      %ul.govuk-list.govuk-list--bullet
        %li
          = link_to "Check another vehicle's compliance", enter_details_vehicle_checkers_path
        %li
          = link_to 'Find out about alternative travel options', 'https://www.gov.uk/government/publications/air-quality-clean-air-zone-framework-for-england', target: '_blank'

