= content_for(:title, "Clean Air Zone charge")
= link_to 'Back', caz_selection_air_zones_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Clean Air Zone charge
      %p Vehicle registration #{@vrn}.

      .govuk-error-summary
        %h2.govuk-heading-m Important information about vehicle data
        %p
          The data accuracy of this service is always improving. It is recommended you
          recheck your vehicle shortly before you intend to drive in any Clean Air Zones.

      - @compliance_outcomes.each do |details|
        %h2.govuk-heading-l{id: details.html_id}
          = details.zone_name
        - if details.charged?
          %p.h2.govuk-heading-m You do not have to pay the charge until early 2021
          %p{id: "charged-title-#{details.html_id}"}
            The vehicle is subject to a daily charge of
            %strong #{details.charge}
          %p This vehicle does not meet the emission standards in #{details.zone_name}
          %p
            If your vehicle is subject to a charge you may still be eligible for an exemption or
            discount,
            = succeed '.' do
              = external_link_to "find out if you qualify in #{details.zone_name}",
                                 details.exemption_or_discount_url,
                                 id: "qualify-url-#{details.html_id}"
          %p
            The zone will operate 24 hours a day, 7 days a week, every day of the year.

          %h2.govuk-heading-m
            What you can do
          %ul.govuk-list.govuk-list--bullet
            %li
              = external_link_to "Get support to upgrade or replace your vehicle in #{details.zone_name}",
                                 details.become_compliant_url,
                                 id: "become-compliant-url-#{details.html_id}"
            %li
              = external_link_to "Explore cycling and public transport options in #{details.zone_name}",
                                 details.public_transport_options_url,
                                 id: "public-transport-options-url-#{details.html_id}"
        - else
          - if details.retrofit
            %p{id: "uncharged-title-#{details.html_id}"}
              The vehicle has been retrofitted to a compliant standard and will not be charged.        
          - else
            %p{id: "uncharged-title-#{details.html_id}"}
              The vehicle will not be charged.
          %p
            There is no charge for driving in
            = external_link_to "#{details.zone_name} Clean Air Zone",
                               details.main_info_url,
                               id: "no-charge-in-#{details.html_id}-url"
          %p
            Each Clean Air Zone (CAZ) has different guidance for charging vehicles. Find out more about
            = external_link_to 'different types of Clean Air Zones',
                               'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                               id: "guidance-url-#{details.html_id}"

      = render 'go_ultra_low_icon'
      = render 'common/print_page'

    .govuk-grid-column-one-third
      %aside#related-items-label.app-related-items{role: 'complementary'}
        %h2.govuk-heading-m
          Related tasks
        %nav{'aria-labelledby': 'related-items-label', role: 'navigation'}
          %ul.govuk-list{class: 'govuk-!-font-size-16'}
            %li
              = link_to 'Check another vehicle',
                        enter_details_vehicle_checkers_path,
                        id: 'check-another-vrn-url'
            %li
              = link_to 'Check another Clean Air Zone',
                        caz_selection_air_zones_path,
                        id: 'check-another-caz-url'
            %li
              = external_link_to('Contact Clean Air Zones',
                             Rails.configuration.x.contact_form_link,
                             id: 'contact-form')
