= javascript_pack_tag 'moj'

- title_and_header = 'Clean Air Zone charge'
= content_for(:title, title_and_header)
= link_to 'Back', confirm_details_vehicle_checkers_path, class: 'govuk-back-link', id: 'back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
      .govuk-error-summary{style: 'border-color:#0b0c0c'}
        %h2.govuk-error-summary__title.govuk-heading-m#error-summary-title Important information about vehicle data
        %p
          The data accuracy of this service is always improving. It is recommended you
          recheck your vehicle shortly before you intend to drive in any Clean Air Zones.

      %p
        Vehicle registration
        = succeed '.' do
          %strong= @vrn

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col', 'aria-sort': 'ascending'}
              = button_tag 'Clean Air Zone', data: {index: 0}, type: 'button'
            %th.govuk-table__header{scope: 'col', 'aria-sort': 'none'}
              = button_tag 'Daily charge', data: {index: 1}, type: 'button'
            %th.govuk-table__header{scope: 'col', 'aria-sort': 'none'}
              = button_tag 'Charging starts', data: {index: 2}, type: 'button'
            %th.govuk-table__header{scope: 'col', 'aria-sort': 'none'}
              = button_tag 'Map', data: {index: 3}, type: 'button'
            %th.govuk-table__header{scope: 'col', 'aria-sort': 'none'}
              = button_tag 'Further information', data: {index: 4}, type: 'button'
        %tbody.govuk-table__body
          - @compliance_outcomes.each do |details|
            %tr.govuk-table__row
              %td.govuk-table__cell= details.zone_name
              %td.govuk-table__cell= details.charged? ? details.charge : 'No Charge'
              %td.govuk-table__cell Early 2021
              %td.govuk-table__cell
                = link_to 'Zone boundary', details.boundary_url
              %td.govuk-table__cell
                = link_to "#{details.zone_name} City Council", details.main_info_url

      %p You do not need to pay until charging starts when the zones are live.
      %p The zones will operate 24 hours a day, 7 days a week, every day of the year.

      %h2.govuk-heading-m Why is there a difference in the results?
      %p
        There are
        = succeed ',' do
          = link_to '4 categories of Clean Air Zone', 'https://www.gov.uk/guidance/driving-in-a-clean-air-zone#types-of-clean-air-zones'
        each one charges different types of vehicle. For example, Birmingham charges private cars (CAZ D) but Leeds does not (CAZ B).
      %p We calculate the charge on whether your vehicle meets the minimum emission standards and whether its type will be charged in that zone.

      %h2.govuk-heading-m Exemptions, refunds and alternatives to driving
      %p Contact the local authority of the Clean Air Zone you want to drive in for further information on:
      %ul.govuk-list.govuk-list--bullet
        %li exemptions
        %li refunds
        %li support to upgrade or replace your vehicle
        %li cycling and public transport options
      %br

      = render 'go_ultra_low_icon'
      = render 'common/print_page'
