- content_for(:title, 'Are these vehicle details correct?')
= link_to 'Back', enter_details_vehicle_checkers_path, method: :get, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert.present?
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              - remove_duplicated_messages(alert).each_with_index do |error, index|
                %li
                  = link_to(error.first, "##{error.second}-error", id: "#{error.second}-#{index}")

      %h1.govuk-heading-l Are these vehicle details correct?
      %table.govuk-table
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'}
            %td.govuk-table__cell
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Vehicle registration
            %th.govuk-table__cell{id: 'registration-number'}= @vehicle_details.registration_number
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Vehicle type approval
            %th.govuk-table__cell{id: 'type-approval'}= @vehicle_details.type_approval
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} CAZ vehicle type
            %th.govuk-table__cell{id: 'type'}= @vehicle_details.type
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Make
            %th.govuk-table__cell{id: 'make'}= @vehicle_details.make
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Model
            %th.govuk-table__cell{id: 'model'}= @vehicle_details.model
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Colour
            %th.govuk-table__cell{id: 'colour'}= @vehicle_details.colour
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Fuel type
            %th.govuk-table__cell{id: 'fuel-type'}= @vehicle_details.fuel_type
          - if @vehicle_details.taxi_private_hire_vehicle.eql?('Yes')
            %tr.govuk-table__row
              %td.govuk-table__cell{scope: 'row'} Taxi
              %th.govuk-table__cell{id: 'taxi'}= @vehicle_details.taxi_private_hire_vehicle

      = form_tag user_confirm_details_vehicle_checkers_path, method: :get do
        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            Are these the vehicle's details?
          %input{name: 'undetermined', type: 'hidden', value: @vehicle_details.undetermined?}
          %input{name: 'taxi_or_phv_in_db', type: 'hidden', value: @vehicle_details.taxi_or_phv?}

          - if alert.present?
            = render 'vehicle_checkers/taxi_or_phv_input/errored'
          - else
            = render 'vehicle_checkers/taxi_or_phv_input/normal'

        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
