= link_to 'Back', enter_details_vehicle_checkers_path, method: :get, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        = render 'common/error_summary',
          error_msg_div: '#confirm-vehicle-details-error',
          error_msg: alert

      %h1.govuk-heading-l Are these vehicle details correct?
      %table.govuk-table
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'}
            %td.govuk-table__cell
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Vehicle registration
            %th.govuk-table__cell{id: 'registration-number'}= @vehicle_details.registration_number
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Vehicle type approval
            %th.govuk-table__cell{id: 'type-approval'}= @vehicle_details.type_approval
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} CAZ vehicle type
            %th.govuk-table__cell{id: 'type'}= @vehicle_details.type
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Make
            %th.govuk-table__cell{id: 'make'}= @vehicle_details.make
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Model
            %th.govuk-table__cell{id: 'model'}= @vehicle_details.model
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Colour
            %th.govuk-table__cell{id: 'colour'}= @vehicle_details.colour
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} Fuel type
            %th.govuk-table__cell{id: 'fuel-type'}= @vehicle_details.fuel_type
          - if @vehicle_details.taxi_private_hire_vehicle.eql?('Yes')
            %tr.govuk-table__row
              %td.govuk-table__cell{scope: 'row'} Taxi
              %th.govuk-table__cell{id: 'taxi'}= @vehicle_details.taxi_private_hire_vehicle

      = form_tag user_confirm_details_vehicle_checkers_path, method: :get do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-visually-hidden
              Are these the vehicle's details?

            - if alert
              %span#confirm-vehicle-details-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                Select yes if the details are correct

            %input{name: 'vrn', type: 'hidden', value: @vehicle_details.registration_number}
            %input{name: 'undetermined', type: 'hidden', value: @vehicle_details.undetermined?}
            .govuk-form-group
              .govuk-radios.govuk-radios--inline
                .govuk-radios__item
                  %input#confirm-vehicle-1.govuk-radios__input{name: 'confirm-vehicle', type: 'radio', value: 'yes'}
                  %label.govuk-label.govuk-radios__label{for: "confirm-vehicle-1"}
                    Yes
                .govuk-radios__item
                  %input#confirm-vehicle-2.govuk-radios__input{name: 'confirm-vehicle', type: 'radio', value: 'no'}
                  %label.govuk-label.govuk-radios__label{for: "confirm-vehicle-2"}
                    No

        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
