- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  - if @error
    .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                         'data-module': 'govuk-error-summary',
                         role: 'alert',
                         tabindex: '-1'}
      %h2#error-summary-title.govuk-error-summary__title
        There is a problem
      .govuk-error-summary__body
        %ul.govuk-list.govuk-error-summary__list
          %li
            %a{href: "##{@error[:field]}-error"}= @error[:message]
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = form_tag validate_vrn_vehicle_checkers_path, method: :post do
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h1.govuk-fieldset__heading
              Enter the registration details of the vehicle you wish to check
          - if @error && @error[:field] == 'vrn'
            = render 'vehicle_checkers/vrn_input/errored', message: @error[:message]
          - else
            = render 'vehicle_checkers/vrn_input/normal'

          - if @error && @error[:field] == 'country'
            = render 'vehicle_checkers/country_input/errored', message: @error[:message]
          - else
            = render 'vehicle_checkers/country_input/normal'

          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
