- title_and_header = 'Enter the number plate of the vehicle'
- content_for(:title, title_and_header)

= render 'common/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @errors.present?
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              - @errors.each_value do |error|
                %li
                  = link_to(error[:message], error[:link])

      = form_tag enter_details_vehicle_checkers_path, method: :post do
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h1.govuk-fieldset__heading
              = title_and_header
          - if @errors[:vrn]
            = render 'vehicle_checkers/vrn_input/errored', message: @errors[:vrn][:message]
          - else
            = render 'vehicle_checkers/vrn_input/normal'

          - if @errors[:country]
            = render 'vehicle_checkers/country_input/errored', message: @errors[:country][:message]
          - else
            = render 'vehicle_checkers/country_input/normal'

          = submit_tag 'Continue',
                        class: 'govuk-button',
                        'data-module': 'govuk-button',
                        id: 'submit_enter_details_button'
