- content_for(:title, 'Vehicle details could not be found')
= back_link(enter_details_vehicle_checkers_path)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Vehicle details could not be found

      %p
        Try
        = link_to('entering your details',
                  enter_details_vehicle_checkers_path,
                  id: 'check-vrn-again')
        again making sure you have not mixed up letters
        and numbers (for example, the letters
        %strong I
        and
        %strong O
        with the numbers
        %strong 1
        and
        %strong 0
        ).

      %h2.govuk-heading-m
        Check your registration details

      %p
        If the details still can not be found and you believe your vehicle should be
        registered in the UK, you must
        = link_to('update the details',
          'https://www.gov.uk/change-vehicle-details-registration-certificate/how-to-tell-dvla',
          id: 'dvla-update')

        the DVLA holds for your vehicle.

      .govuk-warning-text
        %span.govuk-warning-text__icon{'aria-hidden': true } !
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive
            Warning
          You must update your vehicles with DVLA, or your vehicle may be classed as
          chargeable and you may receive a penalty charge notice (PCN) if you drive
          into a zone and do not pay the charge.

      %h2.govuk-heading-m
        You still have to pay the Clean Air Zone charge

      %p
        If your vehicle does meet emission standards, you can claim a
        = link_to('refund',
          'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
          id: 'refund-info')

        from the local authority after your registration details have been updated.

      = link_to('Make a payment', Rails.configuration.x.payments_ui_url, class: 'govuk-button')
